/*
   This screen-oriented stylesheet for the resource scheduling
   follows a general convention of placing dark-colored text on
   soft backgrounds.
 */

body {
  font-family:          "Verdana", sans-serif;
  background-color:     #CCCCCC;
  color:                #294D4A;
  font-weight:          bold;
}

.content {
  vertical-align:       top;
  padding-top:          0.5em;
}

.authbox, .sidebar {
  vertical-align:       top;
}

div.authbox {
  background-color:     #999966;
  border:               2pt outset #999966;
  padding:              0.5em;
}

.box,
div.sidebar {
  background-color:     #99AAAA;
  border:               2pt outset #99AAAA;
}

div.admin {
  background-color:     #CC9999;
  color:                #7F0000;
  border:               2pt outset red;
  padding:              0.5em;
  margin-top:           0.5em;
  margin-bottom:        0.5em;
}

strong {
  font-size:            1.25em;
}

.error {
  background-color:     #CCCC66;
  color:                #CC3333;
  border:               3pt outset #CC0000;
  padding:              0.5em;
  margin-top:           0.5em;
  margin-bottom:        0.5em;
}

.info {
  background-color:     #99AAAA;
  border:               2pt outset #9999AA;
  padding:              0.5em;
  margin-top:           0.5em;
  margin-bottom:        0.5em;
}

div.category {
  border-top:           3pt solid #666666;
  border-bottom:        3pt solid #666666;
  padding-top:          0.5em;
  padding-bottom:       0.5em;
}
div.category + div.category {
  border-top:           none;
}

.rightpad {
  padding-right:        1.5em;
  margin-right:         15px;
}
.numeric {
  text-align:           right;
}
.explan {
  font-style:           italic;
  font-size:            0.9em;
}

img {
  border:               none;
  padding:              0px;
}
img.extendarrow {
  float:                left;
}

a {
  font-family:          "Georgia", "Bitstream Vera Serif", "Constantia", serif;
  text-decoration:      none;
  color:                black;
}
a:link,
a:visited {
  font-family:          "Georgia", "Bitstream Vera Serif", "Constantia", serif;
  font-style:           italic;
  color:                black;
}
a.avail {
  font-family:          "Comic Sans MS";
  font-style:           normal;
  font-weight:          normal;
  color:                black;
}
a:hover, a:active {
  color:                red;
  text-decoration:      underline;
}

a.adminlink {
  color:                #7F0000;
}

div.sidebar {
  font-size:            100%;
}
div.sidebar > div {
  padding-left:         0.5em;
  padding-right:        0.5em;
  padding-bottom:       0.5em;
  padding-top:          0.5em;
}

div.sidebar > div > ul,
div.sidebar > div > span > ul {
  margin-top:           0.2em;
  margin-bottom:        0.5em;
}

input[type=submit],
input[type=button],
a.button,
a.button:link,
a.button:visited {
  background-color:     ButtonFace;
  color:                ButtonText;
  text-decoration:      none;
  font-weight:          bold;
  font-size:            0.9em;
  font-style:           normal;
  border-style:         solid;
  border-width:         2px;
  border-left-color:    ButtonHighlight;
  border-top-color:     ButtonHighlight;
  border-right-color:   ButtonShadow;
  border-bottom-color:  ButtonShadow;
  padding-bottom:       1px;
  padding-top:          1px;
  padding-left:         0.25em;
  padding-right:        0.25em;
}

input, textarea, select, a.button {
  background-color:     #DDDDDD;
  color:                black;
  border-width:         2px;
  padding:              1px;
}

input[type=text], input[type=checkbox]
textarea, select {
  border-style:         inset;
}

.nav,
td.content > table,
td.content > form,
td.content > .list {
  border:               3pt solid black;
  background-color:     #AAAAAA;
  border-width:         0.2em;
  margin-right:         0.5em;
  padding:              0.5em;
}


td.beforeopen {
  visibility:          hidden;
  border-width:        0px;
  margin:              0px;
  padding:             0px;
  height:              0px;
}

th.dateth, th.dateth * {
  background-color:    #FFFF00;
  border:              2px solid black !important;
  outline:             2px solid yellow;
  color:               black;
  padding:             2px;
  margin:              2px;
}
.todayth {
  background-color:    #DFDFDF;
}

hr.doneearly {
  margin:              0.1em;
}
div.doneearly {
  font-size:           70%;
}

div.switchwith {
  font-size:           0.75em;
  font-weight:         normal;
}

td.content > table.monthcal,
td.content > table.searchresults,
td.content > table.alias,
td.content > table.eventlist,
table > caption {
  background-color:    #7F9999;
  border:              2pt outset #7F9999;
  width:               99%;
}
table.monthcal td {
  vertical-align:      top;
  font-size:           0.65em;
  min-height:          3em;
}
table.monthcal td,
table.monthcal th,
table.searchresults th,
table.alias td,
table.alias th,
table.eventlist td,
table.eventlist th {
  background-color:    #99AAAA;
  border:              1px solid #223333;
}
table.monthcal div.calmdaynum {
  background-color:    #99AAAA;
}

table.settingstable th,
table.settingsform th {
  text-align:          left;
}

table.formtable td {
  padding-bottom:      0.2em;
}
table.searchresults td {
  border:              1px solid #223333;
}
table.formtable tbody th {
  text-align:          left;
}

div.calmdaynum,
div.calmdaynum a {
  font-size:           1.5em;
  float:               left;
  padding:             3px;
  font-style:          normal;
  color:               #55557F;
  width:               2.5em;
}

.expmark {
  font-weight:         bold;
  color:               black;
  border:              1px dotted black;
  font-family:         "Bitstream Vera Sans Mono", "Andale Mono", "Lucida Console", monospace; 
}

.label {
  background-color:    #DFDFDF;
  color:               #505050;
  border:              1px outset #505050;
  text-align:          center;
}

div.footer {
  text-align:          center;
  background-color:    #99AAAA;
  padding-left:        1em;
  padding-right:       1em;
  padding-bottom:      0.25em;
  padding-top:         0.25em;
  margin-top:          0.25em;
  clear:               both;
  border-top:          2pt solid #667F7F;
}
code {
  font-style:          normal;
  font-family:         "Bitstream Vera Sans Mono", "Lucida Console", "Andale Mono", "Consolas", monospace;
}

div#programnotes {
  background-color:    #99AAAA;
  border:              2px outset #99AAAA;
  padding:             0.5em;
  text-align:          center;
  margin:              0.5em;
}
div.overviewheader {
  margin:              1em;
  margin-top:          0;
  text-align:          center;
}

table.equipform thead td,
table.equipform th {
  text-align:          left;
  font-weight:         bold;
}
table.equipform thead td.numeric,
table.equipform th.numeric {
  text-align:          right;
}
table.equipform tr.addnew {
  font-size:           1.25em;
}

tr.cfgvar > td {
  border-bottom:        1px dotted #294D4A;
}

div.wholeprogramactions,
div.listactions {
  margin:               0.5em;
  padding:              1em;
  border:               2pt solid #DDDDDD;
  background-color:     #BBBBBB;
}

table.availstats th {
  font-weight:          bold;
}
table.availstats td {
  font-weight:          normal;
}
table.availstats th,
table.availstats td {
  padding-left:         1em;
  padding-right:        1em;
}

table.dbrecord th,
table.dbrecord td {
  border-bottom:        3pt solid #9F9F9F;
}

tr.signup:nth-child(2n - 1) td,
table.list tr:nth-child(2n - 1) td {
  background-color:     #CCCCCC;
}


form.staffscheduleform {
  margin-bottom:        1em;
}
form.staffscheduleform .reghoursinstance,
form.staffscheduleform .occasionhoursinstance {
  border-bottom:        1px dotted white;
  margin-bottom:        12pt;
  padding-bottom:       6pt;
}
form.staffscheduleform .occasionhoursinstance .multiday {
  border:               3pt outset #CCAAAA;
  padding:              2pt;
  background-color:     #CCAAAA;
}
form.staffscheduleform .occasionhoursinstance .multiday:before {
  content:              "Multi-Day: ";
  font-weight:          bold;
  color:                #7F6666;
}
form.staffscheduleform div.addmore {
  margin-top:           1em;
  margin-bottom:        0.75em;
}

.hoursinstanceeffectiverange,
.hoursinstanceflags,
.hoursinstancecomment {
  padding-left:         2em;
}

table.addstaff th,
table.addstaff td {
  border:               1px dotted white;
}

div.staffscheduleday {
  font-weight:          normal;
  border:               2pt solid black;
  padding:              0.5em;
  border-radius:        1em;
}
div.staffscheduleday div.scheduledate {
  border-bottom:        1px solid black;
  margin-bottom:        3px;
}

div.staffscheduleday div.dayclosed {
  font-size:            1.2em;
  padding-top:          0.5em;
  padding-bottom:       0.5em;
  margin-top:           0.5em;
  margin-bottom:        1em;
}
div.staffscheduleday div.dayclosed .dayclosedlabel {
  font-weight:          bold;
  display:              block;
}
div.staffscheduleday div.dayclosed .dayclosedreason {
  font-style:           italic;
}

div.staffscheduletoday {
  border:               3pt solid black;
  background-color:     #EEEEEE;
  box-shadow:           2px 3px 2px #CCCCCC,
                        1px 2px 3px #333333 inset;
}
div.staffscheduletoday > div.scheduledate {
  color:                #007F00;
}
div.staffscheduletoday > div.scheduledate:before {
  content:              "Today, ";
  font-weight:          bold;
}
div.staffscheduletoday > div.scheduledate > span.scheduledatemonth,
div.staffscheduletoday > div.scheduledate > span.scheduledatemday,
div.staffscheduletoday > div.scheduledate > span.punctuation {
  display:              none;
}

div.staffscheduleday .multidayoccasion {
  border:               2pt inset #8DC9C4;
  background-color:     #8DC9C4;
}
div.staffscheduleday .multidayoccasion .staffschname {
  border:               2pt inset #8DC9C4;
}

div.staffscheduleweek {
  margin-top:           1em;
  margin-bottom:        1em;
  vertical-align:       top;
  font-size:            0.75em;
}
div.staffscheduleweek > .ilb {
  vertical-align:       top;
  min-height:           3em;
}
div.staffscheduleday {
/* max-width:            11em; */
  width:                10em;
  text-align:           center;
}
div.staffscheduleweek div.staffscheduleday span.staffschname {
  display:              block; /* Vicki asked for this specifically */
}
div.regularhours,
div.specialhours {
  padding-bottom:       0.25em;
  border-bottom:        1px dotted #AAAAAA;
  margin-bottom:        0.25em;
}
div.regularhours:last-child,
div.specialhours:last-child {
  border-bottom:        0px;
}
div.specialhours {
  font-weight:          bold;
  color:                #007F00;
}

div.staffscheduleday div.altschedulename {
  font-weight:          bold;
  margin-top:           0.3em;
  padding-top:          0.3em;
  border-top:           2pt solid;
  margin-bottom:        0.4em;
}


span.staffschname {
  padding:              1px;
  margin:               1px;
}
.staffreghours span.flag,
.staffoccasionhours span.flag {
  color:                #203B39;
/* text-shadow:          1px 1px 0px #FFFFCC; */
  background-color:     #EEEEEE;
}


div.altschedule {
  padding-bottom:       0.5em;
}
div.staffschedauxres {
  color:                black;
}
div.staffschedauxres .resbooking {
  border-top:           1pt dotted;
  margin-top:           3pt;
  padding-top:          3pt;
}

.ilb { 
  display:              inline-block;
}

div.h {
  font-weight:          bold;
}
div.p {
  margin-bottom:        0.5em;
}
div.p:last-child {
  margin-bottom:        0.1em;
}


/* ************************  Circ Desk Mail  ************************ */
div.listwrapper {
  background-color:     #AAAAAA;
  padding:              0.5em;
  font-size:            110%;
}
div.listnav {
  font-size:            110%;
  font-weight:          bold;
  padding:              0.2em;
  background-color:     #999999;
}
table.msglist thead th {
  border-bottom:        2pt solid #CCCCCC;
}
table.msglist th {
  text-align:           left;
}
table.msglist thead {
  font-weight:          bold;
}
table.msglist tbody {
  font-weight:          normal;
}

.msgstatus {
  background-color:     #BB997F;
}
.msgfromline {
  color:                #993333;
}
.msgsubject {
  color:                #335599;
}
table.msglist .msgfirstline {
  color:                #883388;
}
.msginitials {
  background-color:     #669966;
}

table tbody th {
  text-align:           left;
}


.mailfoldersidebar .unreadcount {
  color:                #990000;
}
